<%# View：显示HTML页面 %>

<p><%= Time.now %></p>

<% [0, 1, 2, 3].each do |e| %>
    <p><%= e %></p>
<% end %>

<%# 调用Helper %>
<p><%= say_hi("Tony") %></p>

<%# 调用Partial %>
<%= render :partial => 'div' %>
<%= render :partial => 'footer', :locals => { year: 2024 } %>