<h1>德国Apohealth药局TonyRail分局</h1>

<table>
    <tr>
        <th>商品名</th>
        <th>存在？</th>
        <th>价格（€）</th>
        <th>详细</th>
    </tr>

    <%# 从数据库中逐条生成要素 %>
    <% @apohealths.each do |apohealth| %>
        <tr>
            <td><%= apohealth.title %></td>

            <% if apohealth.existence == true %>
                <td>是</td>
            <% else %>
                <td>否</td>
            <% end %>

            <td><%= apohealth.price_eu %></td>
            <td>
                <%# apohealths_path(id)：GET /apohealths/id 方法对应的URL名字 %>
                <%= link_to '察看详细', apohealth_path(apohealth.id) %>
            </td>
        </tr>
    <% end %>
</table>

<%= render :partial => 'style' %>

<%# new_apohealth_path：POST /apohealths 方法对应的URL名字 %>
<%= link_to('创建新数据', new_apohealth_path) %>